<div class=" flex bg-slate-50 justify-center items-center h-screen w-screen">
    <div class="shadow-md w-1/5 p-10 bg-white rounded-md text-center">
      
        <h1 class="text-xl font-bold"> Change Password</h1>
        <p class="text-base text-slate-900 font-semibold">Current Password</p>
        <input type="password" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md" placeholder="Current Password" [(ngModel)]="curentPassword"/>
        <p class="text-base text-slate-900 font-semibold">new Password</p>
        <input type="password" name="password" class="w-full mb-2 border-gray-200 border shadow-sm p-2 rounded-md" placeholder="New Password" [(ngModel)]="newPassword"/>
        <button [disabled]="!curentPassword || !newPassword" (click)="changePasswordHandle()"
        class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2">Change Password</button>
        
    </div>
</div>
